<!DOCTYPE html>
<html>
  <head>
    <title>CRUD3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav class="navbar navbar-dark bg-warning">
      <a class="navbar-brand" href="/notes">Notes</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  </nav>
    <div class="navbar-nav">
  <body>
    <%= yield %>
  </body>
</html>
